.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.heading{
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: beige;
  margin-top: -5px;
  
}
.App-link {
  color: #61dafb;
}
.d-block{
  margin-left: 32.5%;
  
}
.card{
  margin-left: 25%;
  margin-top: 2.5%;
  margin-right:25%;
  margin-bottom:2.5%;
  height: 750px;
  
}
.contain{
  background-color:rgb(228, 140, 73);
  margin-top: 2%;
  border-radius: 10px;
  margin-bottom: -5px;
  
  margin-left: 12.5%;
  margin-right: 12.5%;
}
#box{
  border: 10 px solid white;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
a{
  padding-left: 10%;
 /* margin-left:900px;*/
  
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
